
.loading{
  text-align: center;
  padding:15px 0 15px 0;
  font-size: 12px;

  span{
    margin-right:5px;
    margin-bottom: -3px;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(./images/loading.gif);
    background-size: cover;
  }

}
.menu-container {
  width: 225px;
  height: 100%;
  position: absolute;
  border-right: 1px solid #e3ebf6;
  box-sizing: border-box;
  .logo-box {
    width: 100%;
    display: block;
    text-align: center;
    text-align: center;
    padding: 30px 0;
    img {
      width: 56px;
    }
  }
  .menu-icon {
    margin-top: 13px;
    float: left;
  }
}
